#nameSection {
  display: flex;
  height: 10vh;
  justify-content: center;
}

#numberSortSection {
  display: flex;
  flex-direction: row;
  height: 35vh;
  width: 100%;
}

.btnFilter {
  background: black;
  border: 1px solid #fae60a;
  border-radius: 10px;
  color: #fae60a;
  font-size: 15px;
  font-weight: 900;
  padding: 20px;
}

input {
  background: none;
  border: 1px solid #fae60a;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 900;
  padding: 15px;
  width: 30px;
}

label {
  color: white;
  font-size: 17px;
  font-weight: 900;
  padding: 10px;
}

select {
  background: black;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 900;
  padding: 10px;
}

option {
  background: #2e3035;
  font-size: 15px;
  font-weight: 900;
}
