#filterNumber {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    
}

.selectsNumber{
    display: flex;
    flex-direction: column;
    
    
}