#nameForm {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}

#labelName {
  font-size: 2rem;
  position: relative;
  width: 50%;
}

#nameInput {
  appearance: none;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 5px white , inset 0 0 2.5px white;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.8em;
  position: relative;
  transition: all 0.3s linear;
  width: 100%;
}

#nameInput:focus {
  box-shadow: 0 0 8px yellow , inset 0 0 5px white;
}

#nameInput:hover {
  box-shadow: 0 0 10px yellow , inset 0 0 5px white;
}

#labelName #placeholder {
  left: 3rem;
  pointer-events: none;
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  transition: all 0.6s ease;
}

#labelName input:valid + #placeholder, #labelName input:focus + #placeholder {
  color: yellow;
  font-size: 1.6rem;
  top: -7px;
}

#search {
  pointer-events: none;
  position: absolute;
  right: 3rem;
  top: calc(50%);
  transform: translateY(-50%);
}

label {
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
  padding: 1rem;
}

@media screen and ( max-width : 1250px ) {

  #nameForm {
    margin-bottom: 3rem;
    margin-top: 8rem;
  }

  #labelName {
    width: 70%;
  }
}

@media screen and ( max-width : 650px ) {

  #search {
    width: 1.7rem;
  }

  .labelSort {
    font-size: 1.2rem;
  }

  #labelName {
    width: 82%;
  }

  #nameForm {
    margin-top: 5rem;
  }

  #placeholder {
    font-size: 1.4rem;
    padding: 0.6em;
  }

  #nameInput {
    padding: 0.6em;
  }

  #labelName #placeholder {
    left: 1.6rem;

  }
}

@media screen and ( max-width : 400px ) {

  #search {
    pointer-events: none;
    position: absolute;
    right: 2rem;
    top: calc(50%);
    transform: translateY(-50%);
  }

  #placeholder {
    max-width: 80%;
  }

  #labelName input:valid + #placeholder, #labelName input:focus + #placeholder {
    color: yellow;
    font-size: 1.6rem;
    top: -2rem;
  }
}
