#nameForm {
  align-items: center;
  display: flex;
  margin-top: 4vh;
  padding: 20px;
}

::placeholder {
  font-size: 20px;
  font-weight: 900;
}

#nameFilter {
  border: 2px solid white;
  border-radius: 10px;
  padding: 13px;
  width: 40vw;
}

