#nameForm {
  align-items: center;
  display: flex;
  margin-top: 4vh;
  padding: 20px;
}

#labelName {
  font-size: 20px;
  position: relative;
}

#nameInput {
  appearance: none;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 13px;
  position: relative;
  width: 40vw;
}

#labelName #placeholder {
  left: 30px;
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  transition: all 0.6s ease;
}

#labelName input:valid + #placeholder, #labelName input:focus + #placeholder {
  color: #fae60a;
  font-size: 16px;
  font-weight: 900;
  top: -7px;
}

#search {
  position: absolute;
  right: 30px;
  top: calc(50%);
  transform: translateY(-50%);

}
