#numberSelectedSection {
  display: flex;
  flex-direction: column;
  width: 55%;
}

#numberSelectedSection:before {
  background-color: black;
  content: '';
  height: 50px;
  left: 90px;
  position: absolute;
  top: 205px;
  width: 370px;
  z-index: 2;
}

#filterNumberForm {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-around;
  margin-left: 50px;
}

#dropdown-select-operator {
  width: 125px;
}

#selectedFiltersSection {
  height: 20vh;
  margin-left: 90px;
  overflow: auto;
  position: absolute;
  top: 23vh;
  width: 23vw;
}

.selectetFilterDiv {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 900;
  height: 6vh;
  margin-top: 10px;
  position: relative;
  width: 22vw;
}

.delSelectedFilter {
  background: black;
  border: 1px solid #fae60a;
  border-radius: 10px;
  color: #fae60a;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  padding: 15px;
  position: absolute;
  right: 1px;
  transition: all 0.6s  ease-in-out;
}

.delAllFilters {
  background: black;
  border: 1px solid #fae60a;
  border-radius: 10px;
  color: #fae60a;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  padding: 12px;
  position: sticky;
  top: 1px;
  transition: all 0.6s  ease-in-out;
  width: 22vw;
  z-index: 3;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

#delAllFilters:hover, .delSelectedFilter:hover {
  background: #2e3035;
  color: white;
}

.custom-num {
  align-items: center;
  background: black;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 65px;
  position: relative;
  transition: all 0.6s  ease-in-out;
  width: 90px;
}

.custom-num:hover {
  background-color: #2e3035;
  border: 1px solid #fae60a;
}

#inputNumber {
  background: none;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
}

#inputNumber:focus {
  outline: none;
}

#inputNumber::-webkit-outer-spin-button, #inputNumber::-webkit-inner-spin-button {
  appearance: none;
}

#arowUp {
  color: #fae60a;
  cursor: pointer;
  font-size: 18px;
}

#arowDown {
  color: #fae60a;
  cursor: pointer;
  font-size: 18px;
}

.arrowBtn {
  background: none;
  border: none;
  min-height: fit-content;
  min-width: fit-content;
}

#arrowBtnTop {
  position: absolute;
  top: 5px;
}

#arrowBtnBot {
  bottom: 5px;
  position: absolute;
}
