footer {
  background: none;
  border: 1px solid white;
  border-radius: 30px;
  bottom: -92vh;
  color: #fae60a;
  font-size: 22px;
  font-weight: 900;
  margin: 30vh 22vw 3vh;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 56vw;
  z-index: 2;
}

footer p {
  background: black;
}

footer a {
  color: #fae60a;
  padding: 14px;
  text-decoration: none;
  transition: color 0.6s ease-in-out;
}

footer a:hover {
  color: white;
}
