#selectedFiltersSection {
  height: 20vh;
  margin-bottom: 2rem;
  overflow: auto;
  padding-right: 1rem;
  width: 100%;
}

.delAllFilters {
  background: black;
  border: 1px solid #fae60a;
  border-radius: 10px;
  box-shadow: 0 0 2px white , inset 0 0 3px white , 0 0 6px transparent , 0 0 12px transparent , inset 0 0 3px transparent;
  color: rgb(246, 246, 68);
  font-family: solo , sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 0.2ch;
  margin-bottom: 0.8rem;
  padding: 1.1em 1em;
  position: sticky;
  top: 3px;
  transform: translateY(-0.2rem);
  transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 3;
}

.selectedFilterDiv {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 2.1rem 0 2.1rem 0.5rem;
  position: relative;
  transition: all 0.6s ease-in-out;
}

.delFilterBtn {
  background: black;
  border: 1px solid #fae60a;
  border-radius: 10px;
  box-shadow: 0 0 1px white , inset 0 0 1px white , 0 0 6px transparent , 0 0 12px transparent , inset 0 0 3px transparent;
  color: #fae60a;
  cursor: pointer;
  font-family: galaxy , sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.2ch;
  margin: 3px;
  padding: 1.1em 1em;
  position: absolute;
  right: 1px;
  transition: all 0.4s  ease-in-out;
}

.delFilterBtn:hover {
  background: #121314;
  box-shadow: 0 0 5px  white , inset 0 0 5px yellow;
  color: yellow;
}

.delAllFilters:hover {
  background: #121314;
  box-shadow: 0 0 3px white , inset 0 0 5px yellow;
  color: yellow;
}

@media screen and ( max-width : 1250px ) {

  #selectedFiltersSection {
    margin: auto;
    width: 100%;
  }
}

