#sort-section {
  width: 45%;
}

#sortForm {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-height: 15vh;
  padding-left: 12%;
  width: 100%;
}

.operatorSort {
  display: flex;
  flex-direction: column;
}

.labelSort {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.radioSort {
  align-items: center;
  appearance: none;
  background: black;
  border: 1px solid #fae60a;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-right: 1rem;
  outline: none;
  position: relative;
  transition: all 0.4s ease-in-out;
  width: 2rem;
}

.radioSort:hover {
  box-shadow: 0 0 5px  white , inset 0 0 3px yellow;
}

.radioSort:before {
  background-color: #fae60a;
  border-radius: 50%;
  content: '';
  height: 1rem;
  opacity: 0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  width: 1rem;
}

.radioSort:checked:before {
  opacity: 1;
}

#sortBtn {
  padding: 22px;
}

.img-section {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: space-between;
}

#atat {
  max-height: 100%;
  max-width: 50%;
  transform: translate(0, 12%);
  z-index: 3;
}

#walker {
  max-height: 100%;
  max-width: 9%;
  transform: translate(0, 12%);
  z-index: 3;
}

#ship {
  max-height: 100%;
  max-width: 12%;
  transform: translate(-25%, -172%);
  z-index: 3;
}

@media screen and ( max-width : 1350px ) {

  #sortForm {
    padding-left: 8%;
  }
}

@media screen and ( max-width : 1250px ) {

  #sort-section {
    margin-bottom: 3rem;
    width: 100%;
  }

  #sortForm {
    justify-content: space-between;
    margin: auto;
    padding-left: 0%;
    width: 80%;
  }

  #sortForm .dropdown {
    margin: 0;
    width: fit-content;
  }

  .img-section {
    display: none;
  }
}

@media screen and ( max-width : 650px ) {

  #sort-section {
    margin-top: 2rem;
  }

  #sortForm {
    gap: 3rem;
    justify-content: space-around;
  }

  #sortForm .dropdown {
    margin: 0;
    width: 100%;
  }

}

