.tableSection {
  color: white;
  height: 95vh;
  margin-top: 4vh;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #2e3035;
  border: 1px black solid;
  border-spacing: 0;
  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  min-width: 135px;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 3;
}

td {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  padding: 20px;
  text-align: center;
}
