.tableSection {
  color: white;
  height: 60vh;
  margin: auto;
  overflow: auto;
  position: relative;
  width: 88vw;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #2e3035;
  border: 1px black solid;
  border-spacing: 0;
  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  min-width: 140px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 5;
}

th:first-child {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

th:last-child {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

th:nth-child( 10 ), th:nth-child( 13 ) {
  min-width: 325px;
}

th:nth-child( 11 ), th:nth-child( 12 ), th:nth-child( 9 ), th:nth-child( 1 ) {
  min-width: 200px;
}

/* impede sobreposição do th e td */
main:before {
  background-color: black;
  content: '';
  height: 90px;
  margin: 1vw;
  position: absolute;
  top: 387px;
  width: 87vw;
  z-index: 4;
}

td {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  padding: 20px;
  text-align: center;
}
