*{
 
  

}
body {
  width: 100%;
  
}

main {

  width: 90%;
  background: none;
  margin: auto;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  position: relative;
  
 
 
  
  
}

#background{
  position: absolute;
  width: 100%;
}
