* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

main {
  background: none;
  border: 1px solid white;
  border-radius: 30px;
  margin: 30vh 5vw 3vh;
  position: absolute;
  width: 90vw;
  z-index: 2;
}

#background {
  position: absolute;
  width: 100%;
  z-index: 1;
}

::-webkit-scrollbar {
  border: 1px solid white;
  border-radius: 20px;
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  border-radius: 5px;
}
