* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background: none;
  border: 1px solid white;
  border-radius: 30px;
  margin: 30vh 5vw 3vh;
  position: absolute;
  width: 90vw;
  z-index: 2;
}

#background {
  position: absolute;
  width: 100%;
  z-index: 1;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: none;
  background-color: gray;
  border-radius: 30px;
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background: none;
  background-color: black;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: none;
}

main ::-webkit-scrollbar-track-piece {
  background: none;
  width: 50px;
}
